.category-header-widget {
  padding-top: 48px;
  margin-bottom: -60px;
}

div[class^="category-title-header"] {
    width: 100%;
    background: $secondary;
    color $primary;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  
  .category-title-contents {
    padding: 60px;
    max-width: 740px;
    margin: 0 auto;
    
    h1 {
      display: inline;
    }
  }
}
