div[class^="category-title-header"] {
  width: 100%;
  .category-title-contents {
    padding: 24px;
    svg {
      height: 1.5em;
      width: 1.1em;
      margin-right: 0.25em;
    }
    h1 {
      display: inline;
    }
  }
  .category-title-description {
    a,
    a:visited {
      color: inherit;
      text-decoration: underline;
    }
  }
}
