div[class^="category-title-header"] {
    color: #222;
    padding:30px 0;
  
  .category-title-contents {
    .category-title-description {
        line-height: 23px;
            margin-top: 6px;
    }
    .category-logo.aspect-image {
       margin:0;
        
        img {
           width: 60px;
           height: 60px; 
           margin: 0.25em 1em 0.5em 0;
        }
    }
      
    h1 {
      display: inline;
    }
  }
}
.category-heading {
    display:none;
}
