div[class^="category-title-header"] {
    width: 100%;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    margin-bottom: -1px;
  
  .category-title-contents {
    padding: 24px;
    svg {
      height: 1.5em;
      width: 1.1em;
      margin-right: 0.25em;
    }
    h1 {
      display: inline;
    }
  }
  .category-title-description {
    a,
    a:visited {
      color: inherit;
      text-decoration: underline;
    }
  }
}
