div[class^="category-title-header"] {
    color: #222;
    padding:28px;
    border-right: 1px solid #e9ecef;
    border-left: 1px solid #e9ecef;
  
  .category-title-contents {
    .category-bg {
       max-height: 100%;
       margin: -28px -28px 28px -28px;   
        
        img {
           width: 100%;
           max-height: 180px;
           object-fit: cover;
        }
    }
    .category-title-description {
         line-height: 1.6;
         margin-top: 6px;
         font-size: 15px;
        
        a {
            display: block;
            margin-top: 4px;
            border-bottom: 1px dotted rgba(129,129,129,.4);
            width: fit-content;
            color:$primary-medium;
        }
        a:hover {
            border-bottom: none;
        }
    }
    .category-logo.aspect-image {
       margin:0;
        
        img {
           width: 60px;
           height: 60px; 
           margin: 0.25em 1em 0.5em 0;
        }
    }
      
    h1 {
      display: inline;
    }
  }
}
.category-heading {
    display:none;
}
