div[class^="category-title-header"] {
    color: #222;
    padding:30px;
    border-left: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
    border-top: 1px solid #e9ecef;
  
  .category-title-contents {
    
    .category-logo.aspect-image {
       margin:0;
        
        img {
           width: 60px;
           height: 60px; 
           margin: 0.25em 1em 0.5em 0;
        }
    }
      
    h1 {
      display: inline;
    }
  }
}
.category-heading {
    display:none;
}
